.container {
  margin: 0 auto;
  max-width: var(--max-width);
  width: 90vw;
}

.footer-container {
  margin: 0 auto;
  max-width: var(--max-width);
  width: 90vw;

  font-size: 1.2rem;
  color: var(--c-grey);
}
