.projects-container {
  display: flex;
  justify-content: space-between;
}

.projects-container-list {
  width: 100%;
}

.project-container {
  position: relative;
}

.project-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--c-black);

  margin-left: 16px;
  margin-top: 16px;
}

.project-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -16px;
  left: -16px;

  transition: filter 200ms;
  filter: grayscale(1);

  animation: popIn 200ms ease-out;
  animation-fill-mode: forwards;
}

@keyframes popIn {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: -16px;
    left: -16px;
  }
}

.project-image:hover {
  filter: grayscale(0);
}

.project-title-container {
  position: absolute;
  right: -5%;
  top: 30%;
  opacity: 0;

  animation: fadeIn 300ms;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-title {
  width: 100%;
  background-color: var(--c-black);
  color: var(--c-white);
  font-family: Arial;
  font-weight: 900;
  font-size: 4.2rem;
  padding: 8px 16px;
}

.project-subtitle {
  width: 100%;
  display: inline-block;
  background-color: var(--c-white);
  color: var(--c-black);
  font-weight: bold;
  padding: var(--m) var(--l);
}

.project-nav-container {
  display: none;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--xl);
}

.contact-text {
  font-weight: bold;
  color: var(--c-black);
}

.contact-text a {
  color: var(--c-black);
  text-decoration: none;
  border-bottom: 2px solid var(--c-accent);
}

.links-list {
  display: flex;
}

.links-list-item:not(:last-child) {
  margin-right: var(--l);
}

.links-list-item img {
  height: 16px;
  width: auto;
  opacity: 0.5;
}

.links-list-item img:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .project-container {
    display: none;
  }

  .project-nav-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 30%;
    overflow-x: hidden;
  }

  .project-nav-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .project-nav-button {
    box-sizing: content-box;
    border: none;
    width: 2px;
    height: 12px;
    background-clip: content-box;
    padding: 0 12px;
    background-color: var(--c-accent);
    cursor: pointer;
    transition: transform 400ms ease-out;
    position: relative;
    margin: 24px 0;
  }

  .project-nav-separator {
    background-color: var(--c-grey);
    background-clip: content-box;
    padding: 0 12px;
    width: 2px;
    height: 48px;
  }

  .project-nav-button:hover {
    transform: scaleX(2);
  }

  .project-nav-arrows-container {
    margin-top: auto;
    margin-bottom: 20%;
    margin-right: 30%;
    position: relative;
    display: flex;
  }

  .project-nav-arrow {
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }

  .project-nav-arrow:first-child {
    top: -40px;
  }
}
