.header {
  max-width: var(--max-width);
  width: 90vw;
  margin: 0 auto;

  height: 190px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list-link {
  font-weight: bold;
  text-decoration: none;
  color: var(--c-black);
  border-bottom: 2px solid var(--c-black);
}
