.header {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 94vw;

  height: 190px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list-link {
  font-weight: bold;
  text-decoration: none;
  color: var(--c-black);
  border-bottom: 2px solid var(--c-black);
}

@media (min-width: 768px) {
  .header {
    width: 90vw;
  }
}
