.link-no-decoration {
  text-decoration: none;
}

.a--link {
  color: white;
  border-bottom: .1rem solid var(--color-orange);
  padding: .2rem;
  font-style: italic;

  &:hover {
    background-color: var(--color-orange);
    transition: 80ms ease-in;
  }
}

.babyme .babyme--img {
  visibility: hidden;
  margin: .5rem;
  border: solid .2rem var(--color-orange);

  position: absolute;
  z-index: 1;
}

.babyme:hover .babyme--img {
  visibility: visible;
}
