.header-1 {
  font-size: 3em;
  letter-spacing: .1rem;
  padding-bottom: .2em;

  color: var(--color-orange);
}

.wf-playfairdisplay-n7-active .header-1 {
  font-family: 'playfair display', times, serif;
}

body {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: .01rem;
  font-weight: 500;

  color: white;

  @media (--md) {
    font-size: 1.6rem;
  }
}

.wf-roboto-n4-active body {
  font-family: roboto, Arial, Helvetica, sans-serif;
}

.font_italic {
  font-style: italic;
}
