@import './css/reset.css';
@import './css/vars.css';

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

.hidden {
  display: none;
}

.wf-playfairdisplay-n7-active,
.header-1 {
  font-family: 'playfair display', times, serif;
}

.wf-roboto-n4-active,
body {
  font-family: roboto, Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: .03rem;

  background-color: black;
  color: white;
}

.header-1 {
  font-size: 8rem;
  letter-spacing: .2rem;
  font-weight: 700;
  color: var(--color-orange);
}

.container {
  margin: 0 auto;
  max-width: 96rem;
  padding: 3vw;
}

.grid-container {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    'title'
    'content';
}

.title-hey {
  grid-area: title;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 5.5rem;
    height: .4rem;
    background-color: var(--color-orange);
    transform: translateX(1rem) translateY(9rem);

    animation: on-of 1600ms infinite reverse;
  }
}

@keyframes on-of {

  100% {
    background-color: var(--color-orange);
  }

  96% {
    background-color: black;
  }

  50% {
    background-color: black;
  }

  46% {
    background-color: var(--color-orange);
  }
}

.content {
  grid-area: content;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'firstword'
    'contact';

  min-height: 65vh;
  padding: 1.5% 2%;
  border: solid .2rem var(--color-orange);
}

.content--firstword {
  grid-template: firstword;
}

.content--contact {
  grid-template: contact;
  padding-top: 3rem;
  text-align: right;
  align-self: end;

  &::after {
    position: absolute;
    width: max-content;
    content: 'Thanks for visiting.';
    font-size: 1rem;
    color: var(--color-orange);
    transform: rotate(90deg) translateX(-50%) translateY(100%);
  }
}

.a--link {
  text-decoration: none;
  color: white;
  border-bottom: .1rem solid var(--color-orange);
  padding: .2rem;
  font-style: italic;

  &:hover {
    background-color: var(--color-orange);
    transition: 80ms ease-in;
  }
}
