@import './css/reset.css';
@import './css/vars.css';

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

.hide {
  display: none;
}

.header-1 {
  letter-spacing: .1rem;
  color: var(--color-orange);
}

.wf-playfairdisplay-n7-active .header-1 {
  font-family: 'playfair display', times, serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: .01rem;
  font-weight: 500;

  background-color: black;
  color: white;
}

.wf-roboto-n4-active body {
  font-family: roboto, Arial, Helvetica, sans-serif;
}

.containter {
  margin: 0 auto;
  padding: 3vw;

  @media (--lg) {
    max-width: 96rem;
  }
}

.title-animation {
  font-size: 3em;
  margin-bottom: .5em;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 5rem;
    height: .4rem;
    background-color: var(--color-orange);
    transform: translateX(.1em) translateY(1.2em);

    animation: on-of 1600ms infinite reverse;
  }
}

@keyframes on-of {

  100% {
    background-color: var(--color-orange);
  }

  96% {
    background-color: black;
  }

  50% {
    background-color: black;
  }

  46% {
    background-color: var(--color-orange);
  }
}

.content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'myself'
    'contactme';

  min-height: 65vh;
  padding: 1.5vw 2vw;
  border: solid .2rem var(--color-orange);
}

.myself {
  grid-area: myself;
}

.contactme {
  grid-area: contactme;
  text-align: right;
  align-self: end;
}

.text-aside {
  color: var(--color-gray);
}

/* .content--contact {
  grid-template: contact;
  padding-top: 3rem;
  text-align: right;
  align-self: end;

  &::after {
    position: absolute;
    width: max-content;
    content: 'Thanks for visiting.';
    font-size: 1rem;
    color: var(--color-orange);
    transform: rotate(90deg) translateX(-50%) translateY(100%);
  }
} */

.a--link {
  text-decoration: none;
  color: white;
  border-bottom: .1rem solid var(--color-orange);
  padding: .2rem;
  font-style: italic;

  &:hover {
    background-color: var(--color-orange);
    transition: 80ms ease-in;
  }
}
