@import './css/reset.css';
@import './css/vars.css';
@import './css/typo.css';
@import './css/btn.css';

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

html {
  font-size: 62.5%;
  box-sizing: border-box;
  display: grid;
}

.hide {
  display: none;
}

.d-none {
  display: none;

  @media (--lg) {
    display: block;
  }
}

body {
  background-color: black;
}

.containter {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 3vw;

  @media (--lg) {
    max-width: 96rem;
  }
}

.title-animation {
  padding-bottom: .3em;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 3.5rem;
    height: .4rem;
    background-color: var(--color-orange);
    transform: translateX(.1em) translateY(1.2em);

    animation: on-of 1600ms infinite reverse;

    @media (--sm) {
      width: 5rem;
    }
  }
}

@keyframes on-of {

  100% {
    background-color: var(--color-orange);
  }

  96% {
    background-color: black;
  }

  50% {
    background-color: black;
  }

  46% {
    background-color: var(--color-orange);
  }
}

.content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'myself'
    'contactme';

  width: 100%;
  min-height: 65vh;
  padding: 1.5% 2%;
  border: solid .2rem var(--color-orange);
}

.myself {
  grid-area: myself;
}

.contactme {
  grid-area: contactme;
  text-align: right;
  align-self: end;
  position: relative;

  @media (--lg) {

    &::after {
      position: absolute;
      width: max-content;
      content: 'Thanks for visiting.';
      font-size: 1rem;
      color: var(--color-orange);
      transform: rotate(90deg) translateX(-50%) translateY(70%);
    }
  }
}

.text-aside {
  color: var(--color-gray);
}
